*
{
  margin: 0;
  padding: 0;
  color: #fff;
  cursor: default;
}
*::selection
{
    color: #2c2b37;
    background-color: #e5e5ee;
}
body
{
  background: url(images/background_2.png), linear-gradient(0deg, #161c2a, #0a080e);
  background-size: 50vh;
  width: 100vw;
  height: 100vh;
}

#imager
{
    width: 100vw;
    height: 100vh;
    position: fixed;
    z-index: 100;
    background: url(images/image_1.png) center / contain no-repeat;
    backdrop-filter: blur(2vh);
    cursor: pointer;
}
.imager
{
    display: none;
}

.wraper_top
{
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: fixed;
  z-index: 1;
}
.header
{
  width: 90vw;
  top: 1vh;
  left: 5vw;
  position: fixed;
  height: 8vh;
  display: flex;
  z-index: 10000;
  align-items: center;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  background: linear-gradient(0deg, #302f3aef, #282733e1);
  border-radius: 5vh;
}

.main_menu
{
  width: 89vw;
  height: 8vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  flex-wrap: nowrap;
}
.menu_link,.menu_link_active
{
  color: #fff;
  width: 14vw;
  height: 6vh;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  border-radius: 5vh;
  font-size: 2.5vh;
}
.menu_link_active
{
  background: #656476;
}
.menu_link:hover
{
  background: #454453;
  cursor: pointer;
}

.menu_link:first-child,.menu_link_active:first-child
{
  background: url(images/lotype.png) top center / contain no-repeat;
  width: 17vw;
  height: 8vh;
  border-radius: 0;
  font-size: 0;
}
.menu_link_active:first-child
{
  background: url(images/lotype_active.png), radial-gradient(#656476, #65647600, #65647600);
  background-position: top center;
  background-repeat: no-repeat;
  background-size: contain;
}
.menu_link:first-child:hover
{
  background: url(images/lotype_hover.png) top center / contain no-repeat;
}
.menu_link_active:first-child:hover
{
  background: url(images/lotype_hover.png), radial-gradient(#838295, #65647600, #65647600);
  background-position: top center;
  background-repeat: no-repeat;
  background-size: contain;
}

.wraper_content
{
  width: 100vw;
  height: 89vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  position: fixed;
  top: 10vh;
  z-index: 2;
  align-items: center;
}
#content
{
  width: 90vw;
  height: 89vh;
  overflow: auto;
  scrollbar-width: thin;
  scrollbar-color: #ffffff5c #00000000;
  border-radius: 5vh;
}

.book_reader
{
  width: 90vw;
  height: 89vh;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: flex-start;
}

#book_side_image_inside
{
  background: center / contain no-repeat;
  backdrop-filter: blur(2vh) contrast(0.5);
  width: 20vw;
  height: 89vh;
  cursor: pointer;
}
#book_side_image
{
  background: center center;
  width: 20vw;
  height: 89vh;
  cursor: pointer;
}
#book_pages
{
  width: 55vw;
  height: 89vh;
  overflow: auto;
  scrollbar-width: thin;
  scrollbar-color: #ffffff5c #00000000;
  background: linear-gradient(0deg, #302f3aef, #282733e1);

}
#book_side_titles
{
  width: 15vw;
  height: 89vh;
  overflow: auto;
}


.contents
{
  background: linear-gradient(0deg, #302f3aef, #282733e1);
  width: 15vw;
  height: 89vh;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-content: center;
  align-items: center;
  overflow: auto;
  scrollbar-width: thin;
  scrollbar-width: none;
  scrollbar-color: #ffffff5c #00000000;
}
.contents_text
{
  width: 15vw;
  margin: 5vh 0 1vh 0;
  text-align: center;
  cursor: default;
  font-size: 3vh;
}
.menu_link_page
{
  width: 13vw;
  padding: 1vh;
  border-radius: 5vh;
  margin: 1vh 0 1vh 0;
  text-align: center;
  cursor: pointer;
  font-size: 2.5vh;
}

.menu_link_page:hover
{
  background: #454453;
}
.menu_link_page_active
{
  background: #656476;
  width: 13vw;
  padding: 1vh;
  border-radius: 5vh;
  margin: 1vh 0 1vh 0;
  text-align: center;
  cursor: pointer;
  font-size: 2.5vh;
}



h1
{
  margin: 5vh 0 5vh 0;
  font-size: 5vh;
  text-align: center;
}
h2
{
  margin: 3vh 0 3vh 0;
  font-size: 4vh;
  text-align: center;
}
p
{
  margin: 3vh 0 0 0;
  text-indent: 8vh;
  font-size: 2.5vh;
  line-height: 4vh;
  padding: 2vw;
}
